:root {
    --bg-primary: rgb(0 90 112);
    --bg-primary-transparent: rgba(0 90 112 / 95%);
    --bg-secondary: rgb(0 193 179);
    --bg-secondary-transparent: rgba(0 193 179 / 90%);
    --bg-tertiary: rgba(0 193 179 / 50%);
    --text-primary: rgb(0, 61, 77);

    --sm-font: 1em "Fira Sans", sans-serif;
    --md-font: 1.35em "Fira Sans", sans-serif;
    --bg-font: 2em "Fira Sans", sans-serif;
    --xl-font: 3.5em "Fira Sans", sans-serif;
    --xxl-font: 5em "Fira Sans", sans-serif;
    --button-font: 1em "Fira Sans", sans-serif;
    --border-radius: 0.7em;

    --narrow-sm-font: 0.5em "Fira Sans", sans-serif;
    --narrow-md-font: 0.75em "Fira Sans", sans-serif;
    --narrow-bg-font: 1em "Fira Sans", sans-serif;
    --narrow-xl-font: 1.5em "Fira Sans", sans-serif;
    --narrow-xxl-font: 2.5em "Fira Sans", sans-serif;
    --button-narrow-font: 0.6em "Fira Sans", sans-serif;
    --border-narrow-radius: 0.7em;
}

html, body {
    margin: 0;
}

body {
    background-color: var(--bg-primary);
}


