:root {
    --vibe-height: 20;
}

.vibes {
    margin: auto;
    height: 90px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 1000px;
    margin: 10px auto;

    justify-content: space-between;
    border-left: 5px solid var(--bg-secondary);
    background-color: var(--bg-primary-transparent);
    z-index: 1000;
}

.navbar__title {
    padding-left: 20px;
    text-decoration: none;
    color: var(--bg-secondary);
    font:  var(--bg-font);
    font-weight: bold;
    letter-spacing: 0.3em;
}

.navbar__options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__options__option {
    text-decoration: none;
    padding: 0.25em 0.5em;
    margin: 0 0.5em;
    border-radius: 0.3em;
    color: var(--bg-secondary);
    font: var(--button-font); 
}

.option-selected {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
}

.navbar__options__option:hover {
    background-color: var(--bg-secondary); 
    color: var(--bg-primary);
    cursor: pointer;
}

.navbar--accent {
    background-color: var(--bg-secondary);
    height: 5px; 
    box-shadow: 0 3px 0.5em 0.15em rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 37px;
    z-index: 1000;
}

.dash {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: var(--bg-secondary-transparent);
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
    padding: 40px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.4);
}

.quote:hover {
    background-color: var(--bg-secondary);
    opacity: 100%;
    cursor: pointer;
}

.quote__body {
    font: var(--xl-font);
    margin-bottom: 20px;
    color: var(--text-primary);
}

.quote__author {
    font: var(--md-font);
    font-style: italic;
    color: var(--text-primary);
    opacity: 75%;
}

.__segment {
    max-width: 1000px;
    margin: 0 auto 7em auto;
    border-left: 5px solid var(--bg-secondary);
    font: var(--md-font);
    color: var(--bg-secondary);
}

.__segment__title {
    position: sticky;
    top: 40px;
    margin-left: 20px;
    padding-top: 20px;
    font: var(--xl-font);
    background-color: var(--bg-primary-transparent);
    z-index: 999;
}

.about__content {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.about__content__description {
    width: 45%;
    margin-left: 20px;
    font: var(--md-font);
    padding-right: 30px;
}

.about__content__media {
    height: 100px;
    width: 200px;
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.manifesto__description {
    margin-left: 20px;
    font: var(--md-font);
    padding-right: 30px;
}

.manifesto__axioms {
    position: relative;
    width: 50%;
    margin-left: 20px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), var(--bg-primary));
    border-radius: 2px;
}

.manifesto__axioms__img {
    opacity: 0.1;
    position: absolute;
    left: 150px;
    top: 0;
    width: 314px;
    z-index: -1000;
}

.manifesto__axioms__slider {
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
    border: 2px solid var(--bg-secondary);
    background-color: rgba(0, 0, 0, 0.2);
    width: 90px;
    height: 90px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 6px;
    transition: width 0.5s;
}

.manifesto__axioms__slider:hover {
    width: 500px;
}

.manifesto__axioms__slider__media {
    height: 50px;
    width: 50px;
    margin-right: 0;
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.4);
}